@font-face {
	font-family: "Open Sans";
	src: url(fonts/OpenSans-Regular.woff);
	src: url(fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/OpenSans-Bold.woff);
	src: url(fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}



* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
  font-family: "Open Sans";  
  text-decoration: none;
}

html,body {
  overflow-x:hidden;
}

.list {
  list-style: none;
}

/* header */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: relative;
  background: url(../img/banner-bg.jpg) #000000 no-repeat center center;
  background-size: cover;
  padding-top: 29px;  
  padding-bottom: 146px;
  z-index: 0;
}

.header::after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.6;
  z-index: -1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 180px;
}

.burger-wrapper {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
}

.burger-btn {
  display: block;
  width: 22px;
  height: 2px;
  margin-top: 10px;
  background-color: #ffffff ;
}

.burger-btn::before,
.burger-btn::after {
  content: ""; 
  position: absolute;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #ffffff ;
}

.burger-btn::before {
  top: 0;
}

.burger-btn::after {
  bottom: 0;
}

.burger-description {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.main-menu-list {
  display: flex;
  gap: 34px;
}

.main-menu-item {
  font-size: 13px;
}

.main-menu-link {
  color: #ffffff;
  text-transform: uppercase;  
}

.main-menu-link:hover {
  text-decoration: underline;
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
}

.header-heading {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
  text-align: center;
  font-size: 45px;
  line-height: 1.66;
  color: #ffffff;  
}

/* main */

.trends {
  margin-top: 60px;
}

.trends-heading {
  font-size: 20px;
  text-align: center;
}

.trends-heading::after {
  content: "";
  display: block;
  margin: 12px auto 28px auto;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.trends-list {
  display: flex;
  justify-content: space-between;
}

.trend {
  position: relative;
  width: calc(25% - 2px);
  font-size: 16px;
  z-index: 0;
}

.trend-bg {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.trend-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 2.1em 1.75em;
  border: 1px solid rgba(181, 159, 91, 0.6);
  z-index: 3;
}

.trend::after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.trend-heading {
  font-size: 1.25em;
  line-height: 1.2;
  color: #ffffff;
}

.trend-heading:hover {
  color: #b59f5b;
}

.trend-tags-list {
  display: flex;
  gap: 18px;
  margin-bottom: 11px;
}

.tag-link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b59f5b;
}

.trend-tag:hover {
  text-decoration: underline;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.main {
  flex: 1 0 60%;
}

.main-item {
  display: flex;
  gap: 30px;  
}

.main-item:not(:first-child) {
  margin-top: 60px;
}

.main-image {
  width: 381px;
}

.main-post {
  width: 381px;
}

.main-tags-list {
  display: flex;
  gap: 18px;
  margin-top: -6px;
}

.main-tag:hover {
  text-decoration: underline;
}

.main-heading {
  margin-top: 8px;
  font-size: 20px;
  line-height: 1.2;
}

.main-post-link {
  color: #0f0d0e;
}

.main-post-link:hover {
  color: #b59f5b;
}

.post-date {
  display: flex;
  gap: 16px;
  margin-top: 28px;  
}

.main-date {
  display: block;
  margin-top: -3px;
  font-size: 12px;
  color: #888888;
}

.author-name {
  display: block;
  margin-top: -3px;
  font-size: 12px;
  font-weight: 700;
}

.post-description {
  margin-top: 46px;  
}

.post-text {
  font-size: 15px;
  line-height: 1.46;
}

.post-text:not(:first-child) {
  margin-top: 10px;
}


/* aside */
.aside {
  flex: 0 0 22.5%;
  margin-top: -6px;
}

.aside-heading {
  font-size: 14px;
  text-align: center;
}

.aside-heading::after {
  content: "";
  display: block;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.new-posts-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 30px;
}

.new-posts-item {
  display: flex;
  gap: 20px;
}

.new-posts-img {
  width: 70px;
}

.new-post-heading {
  margin-top: 3px;
}

.new-post-link {
  display: block;
  font-size: 14px;
  line-height: 1.3;
  color: #0f0d0e;
}

.new-post-link:hover {
  color: #b59f5b;
}

.new-posts-search {
  position: relative;
  margin-top: 60px;
}

.sidebar-input {
  padding: 19px 60px 19px 19px;
  width: 270px;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
}

.sidebar-input:focus {
  border: 1px solid #b59f5b;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  background: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg) #b59f5b no-repeat 50% 50%;
  background-size: 18px 18px;
}

.btn:hover {
  background-color: #323232;
}

.search-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.input-description {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mailing {
  margin-top: 62px;
}

.subscription {
  margin-top: 23px;
}

.subscription-btn {
  width: 270px;
  margin-top: 17px;
  padding-top: 19px;
  padding-bottom: 16px;
  color: #ffffff;
}

.tags {
  margin-top: 62px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 24px;
}

.tags-item {
  padding: 5px 15px 5px 15px ;
  border: 3px solid #eeeeee;
}

.tags-item:hover {
  border: 3px solid #b59f5b;
}


.aside-tag-link {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
}

.themes {
  margin-top: 62px;
}

.themes-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.themes-item {
  display: flex;
  gap: 5px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
}

.theme-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.theme-link:hover {
  color: #b59f5b;  
}

.theme-counter {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;  
}

/* footer */

.footer {
  margin-top: 64px;
  padding-bottom: 40px;
}

.social-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f4f7f6;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.social-name {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.twitter-icon {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.pinterest-icon {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.facebook-icon {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.instagram-icon {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.tumblr-icon {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copyright {
  margin-top: 74px;
  font-size: 12px;
  text-align: center;
}

.copyright-link {  
  color: #999999;
}

.copyright-link:hover {
  text-decoration: underline;
}

.copyright-info {
  display: block;
}

@media only screen and (min-width: 769px) {
  
  .burger-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  .main-menu {
    position: absolute;
    top: -100%;
  }


}

@media only screen and (min-width: 361px) and (max-width: 768px) {
  
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header {
    background: url(../img/banner-bg-tablet.jpg) #000000 no-repeat center/cover;
    padding-top: 45px;  
    padding-bottom: 125px;
  }

  

  .header-heading {
    width: 80vw;    
    margin-top: 100px;
    text-align: center;
    font-size: calc(3.43vw + 13.652px);
    line-height: 1.375;
  }

  .main-item {
    flex-wrap: wrap;
  }

  .trends-list {
    flex-wrap: wrap;
    gap: 4px;
  }

  .trend {
    width: calc(50% - 2px);
    font-size: 13.6px;
  }

}


@media only screen and (max-width: 360px) {
  
  .header {
    background: url(../img/banner-mobile.jpg) #000000 no-repeat center/cover;
    padding-top: 45px;  
    padding-bottom: 220px;
  }

  .nav {
    flex-direction: column-reverse;
    gap: 185px;
  }

  .burger-wrapper {
    align-self: flex-end;
  }

  .logo {
    width: 75vw;
    margin-bottom: 0;
  }

  .header-heading {
    width: 92vw;    
    margin-top: 45px;
    text-align: center;
    font-size: calc(3.43vw + 13.652px);
    line-height: 1.375;
  }

  .trends-list {
    display: block;
  }

}